body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #222;
    margin: 0;
    color: #fff;
}

#game-title {
    margin: 0;
    margin-bottom: 20px;
}

#score {
    margin: 10px 0;
}

canvas {
    border: 1px solid #000;
    background-color: #000;
}
